body{
    margin: 0;
    padding: 0;
    background-color: #FF9E0D;
}

table{
    border:2px solid white ;
    margin-top: 100px;
    background-color: #9dd2ea;
    border-radius:5px ;
}
.green{
    background-color: #f1ff92;
    border-color: #f1ff92;
    height: 0px;
}

tr th,td{
    border-color: #fff;
    background-color: #fff;
    border-radius:5px ;
    text-align: center;
    /* color: black; */
}
tr,th,tr td,
tr th{
    border-color: white;
    /* height: -40px; */
}
.output{
    background-color:#F1FAEB ;
}
.clear{
    background-color: #ff9fa8;
    border-color: #ff9fa8;
}
tr td{
    border-color: white;
}